.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  margin-bottom: 1em;

}

.body {
  width: 80%;
  color: #282c34;
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
   box-shadow: 3px 3px 2px 2px #17191E;
  margin: 3em;
  padding: 3em;
  border-radius: 25px;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loggedInHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
.search-bar {
  justify-content: center;
}
.download-buttons {
  justify-content: center;
  margin:55px;
}
.App-link {
  color: #61dafb;
}

.instructions {
  margin: 2em;
}

.cardclass {
  margin: 0.5em;
}

.cardclass:hover {
  border: 2px solid white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
